{% extends 'main.html' %} {% block content %} {% include 'status.html' %}

<br>

<div class="row">

    <div class="col-md-12">

        <h5>List Blog.</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>

                    <th>BlogTitle</th>
                    <th>Publice Date</th>
                    <th>Status</th>
                    <th>View</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                {% for post in post_list %}
                <tr>
                    <td>{{post.title}}</td>
                    <td>{{post.created_on}}</td>
                    <td>{% if post.status == 1 %} Publish {% else %} Draft {% endif %}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'blog-single' post.slug  %}">View</a></td>
                    <td><a class="btn btn-sm btn-info" href="{% url  'updatePost' post.slug  %}">Update</a></td>
                    <td><a class="btn btn-sm btn-danger" href=" {% url 'deletePost' post.slug %}">Delete</a></td>
                </tr>
                {% endfor %}

            </table>
            <div style="padding-left: 35rem ;">
                {% if post_list.paginator.num_pages > 1 %}

                <div class="pagination ">
                    {% if post_list.has_previous %}
                    <a href="?page=1" class="btn btn-sm btn-info m-2">First</a>
                    <a href="?page={{ post_list.previous_page_number }}" class="btn btn-sm btn-info m-2">Previous</a> {% endif %}
                    <span class="btn btn-sm btn-info m-2" >{{ post_list.number }} of {{ post_list.paginator.num_pages }}</span> {% if post_list.has_next %}
                    <a href="?page={{ post_list.next_page_number }}" class="btn btn-sm btn-info m-2">Next</a>
                    <a href="?page={{ post_list.paginator.num_pages }}" class="btn btn-sm btn-info m-2">Last</a> {% endif %}
                </div>

                {% endif %}
            </div>
        </div>
        
    </div>

</div>

{% endblock %}